body{
    background-image: url(Images/pexels-cottonbro-studio-4088009.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#front{
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: rgba(240, 248, 255, 0.9);
    height: 100vh;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 50px;
}
#searchButton{
    margin-top: 10px;
}
#resultContainer{
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: aliceblue;
    list-style-type: none;
    border: 1px solid black;
    margin-top: 20px;
    padding: 5px;
    background-color: rgb(214, 210, 204);
}